<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarioPage.content}">
                <td th:text="${usuario.idUsuario}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.peso}"></td>
                <td th:text="${usuario.altura}"></td>
                <td th:text="${usuario.edad}"></td>
                <td th:text="${usuario.sexo}"></td>
                <td th:text="${usuario.tipoConsulta}"></td>
                <td>
                    <a th:href="@{/editar/{id}(id=${usuario.idUsuario})}">Editar</a>
                    <a th:href="@{/eliminar/{id}(id=${usuario.idUsuario})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <span th:text="'Página ' + ${currentPage + 1} + ' de ' + ${usuarioPage.totalPages}"></span>
        <a th:if="${currentPage > 0}" th:href="@{/(page=${currentPage - 1}, size=${pageSize}, nombre=${nombre})}">Anterior</a>
        <a th:if="${currentPage < usuarioPage.totalPages - 1}" th:href="@{/(page=${currentPage + 1}, size=${pageSize}, nombre=${nombre})}">Siguiente</a>
    </div>
    <a th:href="@{/crear}">Crear Nuevo Usuario</a>
</body>
</html>
